[Unit]
Description=ooklaserver
After=network.target

[Service]
User= # Make this match the username you installed this package with
Group= # Make this match the username you installed this package with
WorkingDirectory=/opt/OoklaSpeedtest
ExecStart=/opt/OoklaSpeedtest/OoklaServer --daemon --pidfile=/opt/OoklaSpeedtest/OoklaServer.pid
PIDFile=/opt/OoklaSpeedtest/OoklaServer.pid
ExecStop=/bin/kill -s TERM $MAINPID
LimitNOFILE=16384
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
